.transporter {
    display: flex;
    /*flex-wrap: wrap;*/
    /*height: 150px;*/
    overflow: hidden;
    width: 35%;
}

.justify-end  {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}